<!-- i frickin hate frontend, will make it look nice later -->
<head>
  <link rel="stylesheet" href="/static/style.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Roboto" rel="stylesheet">
  <style>
    *{font-family:'Roboto', sans-serif;}
  </style>
</head>

<div class="wrapper">
  <h1 class="title"> Trusty </h1>
  <h3 class="sub">Join the Trusty Family</h3>
  <div class="container">
    <form action="/users" method="POST">
      <input type="text" name="name" placeholder="name"><br />
      <input type="number" name="age" placeholder="age"><br />
      <input type="text" name="address" placeholder="address"><br />
      <input type="text" name="phone_number" placeholder="phone #"><br />
      <input type="text" name="username" placeholder="username"><br />
      <input type="password" name="password" placeholder="password"><br /><br />
      <input type="submit" value="REGISTER">
    </form>
  </div>
</div>
